/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #0f172a;

    color: #f8fafc;
}


/* =========================
   COMMON
========================= */

.label {
    margin-bottom: 12px;

    color: #38bdf8;

    font-size: 12px;
    font-weight: bold;

    letter-spacing: 2px;
}


/* =========================
   PAGE 1
========================= */

.home-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.home-content {
    width: 100%;
    max-width: 700px;

    text-align: center;
}

.home-content h1 {
    margin-bottom: 20px;

    font-size: clamp(3.5rem, 10vw, 7rem);

    line-height: 1;
}

.home-content h1 span {
    color: #38bdf8;
}

.description {
    max-width: 550px;

    margin: 0 auto 35px;

    color: #cbd5e1;

    font-size: 18px;

    line-height: 1.7;
}


/* =========================
   HOME INFO
========================= */

.info-container {
    display: flex;

    justify-content: center;

    gap: 15px;

    margin-bottom: 35px;

}


.name-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 26px;
    gap: 50px;
}

.name-container input {
    background-color: var(--primary-button);
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-size: x-large;
    text-align: center;
}

.info-card {
    width: 140px;

    padding: 18px;

    border: 1px solid #334155;

    border-radius: 16px;

    background-color: #111c33;
}

.info-card strong {
    display: block;

    margin-bottom: 5px;

    font-size: 26px;
}

.info-card span {
    color: #94a3b8;

    font-size: 13px;
}


/* =========================
   BUTTONS
========================= */

.start-button,
.secondary-button {
    display: inline-block;

    padding: 13px 20px;

    border-radius: 12px;

    font-weight: bold;

    text-decoration: none;

    cursor: pointer;
}

.start-button {
    background-color: #38bdf8;

    color: #082f49;
}

.secondary-button {
    border: 1px solid #334155;

    background-color: #111c33;

    color: #e2e8f0;
}


/* =========================
   PAGE 2
========================= */

.game-page {
    min-height: 100vh;

    padding: 30px 20px 60px;
    display: none;
}

.game-container {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
}


/* =========================
   GAME HEADER
========================= */

.game-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 20px;

    margin-bottom: 25px;
}

.game-header h2 {
    font-size: clamp(1.8rem, 4vw, 2.7rem);
}


/* =========================
   STATS
========================= */

.stats-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 15px;

    margin-bottom: 25px;
}

.stat-card {
    padding: 16px;

    border: 1px solid #334155;

    border-radius: 15px;

    background-color: #111c33;
}

.stat-card span {
    display: block;

    margin-bottom: 7px;

    color: #94a3b8;

    font-size: 13px;
}

.stat-card strong {
    font-size: 22px;
}


/* =========================
   GAME BOARD
========================= */

.game-board {
    display: grid;

    grid-template-columns: repeat( 4, 1fr);

    gap: 15px;

}


/* =========================
   MEMORY CARD
========================= */

.memory-card {
    width: 100%;
    aspect-ratio: 1 / 1;

    padding: 10px;

    border: 2px solid #334155;
    border-radius: 16px;

    background-color: #1e293b;

    overflow: hidden;
    cursor: pointer;
}

.memory-card img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
}


/* Hidden card */

.card-hidden,
.card-showen {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hidden {
    font-size: clamp(20px, 3vw, 36px);
}

.card-showen {
    color: #38bdf8;
    font-size: clamp(20px, 3vw, 36px);
    font-weight: bold;
}


/* =========================
   HOVER
========================= */

.memory-card:hover {
    border-color: #38bdf8;

    transform: translateY(-2px);

    transition: 0.2s ease;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 700px) {

    .home-page {
        padding: 20px;
    }

    .info-container {
        flex-wrap: wrap;
    }

    .info-card {
        flex: 1;

        min-width: 90px;
    }


    .game-page {
        padding: 20px 12px 40px;
    }


    .game-header {
        align-items: flex-start;

        flex-direction: column;
    }

    .secondary-button {
        width: 100%;

        text-align: center;
    }


    .stats-container {
        grid-template-columns: 1fr;
    }


    .game-board {
        grid-template-columns: repeat(3, 1fr);

        gap: 9px;
    }


    .memory-card {
        border-radius: 11px;
    }


    .card-hidden {
        font-size: 25px;
    }
}